ion-card{
    --background: #2D71E5;;
  box-shadow: 0 4px 8px 0 #ece9e9d1, 0 6px 20px 0 #b1a5a570;

  }
  ion-card {p ,ion-text {
    color: #fff;
  }
  }
  
  ion-card {
  box-shadow: 0 4px 8px 0 #ece9e9d1, 0 6px 20px 0 #b1a5a570;

    p{
      font-size: 16px;
      font-weight: 700;
    }
  }