.ques-text{
    display: block;
    font-size: 16px;
    color: black;
    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Montserrat','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' !important;
}
ion-img {
    margin-top: 10px;
    height: 120px;
    width: 120px;
}
.nxt-btn {
    float: right;
}
.exam-timer {
    margin-right: 75px;
    font-size: 15px;
    color: red;
}
.quesNavigate {
    border-radius: 100px;
    border: 1px solid black;
     font-size: 14px;
     text-align: center;

}
.quesNavigateActive {
    border-radius: 100px;
    border: 1px solid white;
     font-size: 14px;
     text-align: center;
     background-color: green;
     color: white;

}
.quesNavigatevisit {
    border-radius: 100px;
    border: 1px solid white;
     font-size: 14px;
     text-align: center;
     background-color: grey;
     color: white;

}

ion-col.quesNavigate {
    margin: 5px 0px 0px 9px;
}

ion-grid.action-btns {
    margin-top: 25px;
  ion-row{
      ion-col {
        ion-button {
            max-width: 65px;
        }
      }
  }  
}
ion-radio {
    margin: 22px 7px -3px 0px;
    display: inline-block;
}
.anser-img {
    height: 58px;
    width: 100%;
    margin-left: 15px;
}
.answer-text{
    margin-left: 12px;
    font-size: 14px;
    display: inline-block;
}

ion-card {
    --background: white;
}