<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <div *ngIf="isLoading" style="height: 100%; text-align: center;">
    <ion-spinner></ion-spinner>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="getPapersList($event)" pullMin="100" pullMax="200">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Loading data...">
    </ion-refresher-content>
  </ion-refresher>
  <div>


    <ion-card *ngFor="let exam of examsData" class="ion-padding ion-margin">
      <!-- <ion-text>
        Paper
      </ion-text> -->
      <ion-grid >
        <ion-row>
          <ion-col sizeSm="4" class="base">
            <p style="font-weight: bolder;font-size: large; text-align: center;" >{{exam.qpUniqueName}}</p>
          </ion-col>
            <ion-col sizeSm="4">
              <div class="ion-text-end exam-btns">

                <ion-button *ngIf="exam.examCompletionStatus == 'I' && exam.isExamAppeared == true"
                  (click)="gotoExamDetail(exam.examEnrollmentDetailsId, exam.candidateId, exam.subjectId, exam.isExamAppeared, exam.qpResultID)">
                  RESUME</ion-button>
                <ion-button *ngIf="exam.examCompletionStatus == null && exam.isExamAppeared == false"
                  (click)="gotoExamDetail(exam.examEnrollmentDetailsId, exam.candidateId, exam.subjectId, exam.isExamAppeared, exam.qpResultID)">
                  START</ion-button>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid class="base">
        <ion-row>
          <ion-col sizeSm="4">
            <ion-text>
              Enrollment:
            </ion-text>
          </ion-col>
          <ion-col sizeSm="6">
            <p>{{exam.examEnrolmentDate}}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="exam.examAppearedDate">
          <ion-col sizeSm="4">
            <ion-text>
              Appeared
            </ion-text>
          </ion-col>
          <ion-col sizeSm="6">
            <p>{{exam.examAppearedDate}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col sizeSm="4">
            <ion-text>
              Result Details
            </ion-text>
          </ion-col>
          <ion-col sizeSm="6">
            <p *ngIf="exam.examCompletionStatus == 'I' && exam.isExamAppeared == true">In Progress</p>
            <p *ngIf="exam.examCompletionStatus == null && exam.isExamAppeared == false">In Progress</p>
            <p *ngIf="exam.examCompletionStatus == 'C' && exam.isExamAppeared == true">Attempted</p>

          </ion-col>
        </ion-row>
        <ion-row *ngIf="exam.examCompletionStatus == 'C' && exam.isExamAppeared == true">
          <ion-col sizeSm="3">
            <ion-label style="font-size: 14px;">
              Marks Obtained:
            </ion-label>
            <ion-text>{{exam.marksObtained}}/{{exam.totalMarks}}
              <!-- {{exam.marksObtained / exam.totalMarks | number:'1.1-2'}} -->
            </ion-text>
          </ion-col>
          <ion-col sizeSm="7">
            <ion-button (click)="gotoResult(exam.qpResultID)"> Check Result
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>





    </ion-card>

  </div>

</ion-content>